# Ignore node_modules in all directories
**/node_modules
**/.pnpm-store
**/.pnpm-debug.log

# Ignore build artifacts
dist
build
coverage

# Ignore environment and IDE files
.git
.gitignore
Dockerfile
docker-compose*
.env
.env.*
.vscode
.idea
*.log

# Ignore pnpm specific files
.pnpm*
.pnp.*
